image:
  repository: ramzihaj2001/complete-devops-project
#  tag: "453baed"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
autoscaling:
  enabled: false
  